<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit a todo item:</h1>
    <!--mechanism for user to create item-->
    <form method="POST">
        {% csrf_token %} <!--cross site request forgery token, for security, that info is coming from this source-->
       {{ form.as_p }}    <!--as p renders test vertically-->
        <div>
            <p>
                <button type="submit">Update Item</button>
            </p>
        </div>
    </form>
    

    
</body>
</html>

<!--deleted since now being rendered by views file 
    <div>
    <p>
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="item_name" />
        //name is used to access this value in the view function
    </p>
</div>
<div>
    <p>
        <label for="id_done">Done:</label>
        <input type="checkbox" id="id_done" name="done" />
        //name is used to access this value in the view function
    </p>
</div> -->